---
import {
  Card,
  CardAction,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"
import { Button } from "@/components/ui/button"
const props = Astro.props;
---

<div class="flex flex-row justify-center gap-4">
    <img class="flex object-cover aspect-square bg-muted-foreground" src="" alt="Blog Image" />
    <Card class="flex h-55 bg-card border-border">
        <CardHeader>
            <CardTitle>"Blog Title"</CardTitle>
            <CardDescription>
                "Published on 2024-06-10"
            </CardDescription>
        </CardHeader>
        <CardContent>
            <CardDescription> 
                  "This is a sample blog content. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
            </CardDescription>
        </CardContent>
        <CardFooter>
            <CardAction>
                <Button variant="link">Read More</Button>
            </CardAction>
        </CardFooter>
    </Card>
</div>
<div class="flex flex-row justify-center gap-4">
    <img class="flex object-cover aspect-square bg-muted-foreground" src="" alt="Blog Image" />
    <Card class="flex h-55 bg-card border-border">
        <CardHeader>
            <CardTitle>"Blog Title"</CardTitle>
            <CardDescription>
                "Published on 2024-06-10"
            </CardDescription>
        </CardHeader>
        <CardContent>
            <CardDescription> 
                  "This is a sample blog content. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
            </CardDescription>
        </CardContent>
        <CardFooter>
            <CardAction>
                <Button variant="link">Read More</Button>
            </CardAction>
        </CardFooter>
    </Card>
</div>
<div class="flex flex-row justify-center gap-4">
    <img class="flex object-cover aspect-square bg-muted-foreground" src="" alt="Blog Image" />
    <Card class="flex h-55 bg-card border-border">
        <CardHeader>
            <CardTitle>"Blog Title"</CardTitle>
            <CardDescription>
                "Published on 2024-06-10"
            </CardDescription>
        </CardHeader>
        <CardContent>
            <CardDescription> 
                  "This is a sample blog content. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
            </CardDescription>
        </CardContent>
        <CardFooter>
            <CardAction>
                <Button variant="link">Read More</Button>
            </CardAction>
        </CardFooter>
    </Card>
</div>
<div class="flex flex-row justify-center gap-4">
    <img class="flex object-cover aspect-square bg-muted-foreground" src="" alt="Blog Image" />
    <Card class="flex h-55 bg-card border-border">
        <CardHeader>
            <CardTitle>"Blog Title"</CardTitle>
            <CardDescription>
                "Published on 2024-06-10"
            </CardDescription>
        </CardHeader>
        <CardContent>
            <CardDescription> 
                  "This is a sample blog content. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
            </CardDescription>
        </CardContent>
        <CardFooter>
            <CardAction>
                <Button variant="link">Read More</Button>
            </CardAction>
        </CardFooter>
    </Card>
</div>
<div class="flex flex-row justify-center gap-4">
    <img class="flex object-cover aspect-square bg-muted-foreground" src="" alt="Blog Image" />
    <Card class="flex h-55 bg-card border-border">
        <CardHeader>
            <CardTitle>"Blog Title"</CardTitle>
            <CardDescription>
                "Published on 2024-06-10"
            </CardDescription>
        </CardHeader>
        <CardContent>
            <CardDescription> 
                  "This is a sample blog content. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
            </CardDescription>
        </CardContent>
        <CardFooter>
            <CardAction>
                <Button variant="link">Read More</Button>
            </CardAction>
        </CardFooter>
    </Card>
</div>
<div class="flex flex-row justify-center gap-4">
    <img class="flex object-cover aspect-square bg-muted-foreground" src="" alt="Blog Image" />
    <Card class="flex h-55 bg-card border-border">
        <CardHeader>
            <CardTitle>"Blog Title"</CardTitle>
            <CardDescription>
                "Published on 2024-06-10"
            </CardDescription>
        </CardHeader>
        <CardContent>
            <CardDescription> 
                  "This is a sample blog content. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
            </CardDescription>
        </CardContent>
        <CardFooter>
            <CardAction>
                <Button variant="link">Read More</Button>
            </CardAction>
        </CardFooter>
    </Card>
</div>
<div class="flex flex-row justify-center gap-4">
    <img class="flex object-cover aspect-square bg-muted-foreground" src="" alt="Blog Image" />
    <Card class="flex h-55 bg-card border-border">
        <CardHeader>
            <CardTitle>"Blog Title"</CardTitle>
            <CardDescription>
                "Published on 2024-06-10"
            </CardDescription>
        </CardHeader>
        <CardContent>
            <CardDescription> 
                  "This is a sample blog content. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
            </CardDescription>
        </CardContent>
        <CardFooter>
            <CardAction>
                <Button variant="link">Read More</Button>
            </CardAction>
        </CardFooter>
    </Card>
</div>
<div class="flex flex-row justify-center gap-4">
    <img class="flex object-cover aspect-square bg-muted-foreground" src="" alt="Blog Image" />
    <Card class="flex h-55 bg-card border-border">
        <CardHeader>
            <CardTitle>"Blog Title"</CardTitle>
            <CardDescription>
                "Published on 2024-06-10"
            </CardDescription>
        </CardHeader>
        <CardContent>
            <CardDescription> 
                  "This is a sample blog content. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
            </CardDescription>
        </CardContent>
        <CardFooter>
            <CardAction>
                <Button variant="link">Read More</Button>
            </CardAction>
        </CardFooter>
    </Card>
</div>
