---
---
<div id="main-panel" class="flex flex-col items-center w-full h-full overflow-auto prose prose-lg prose-neutral dark:prose-invert bg-background">
    <div class="flex justify-center w-full text-5xl font-semibold gap-2">
        <slot name="blog-title" />
    </div>
    <div class="flex flex-col w-3/5 mb-150 max-w-350" >
        <slot name="blog" />
    </div>
</div>
